@import url("https://fonts.cdnfonts.com/css/vcr-osd-mono");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




body {
  background: url('/images/background.svg');
  background-color: black;
  font-family: "VCR OSD Mono", sans-serif;
  
 
}
 
    
    



/* Footer.css */

footer {
  position: relative;
}

footer:before,
footer:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 10px; 
  background: url('/images/footerLayer.svg') repeat-x;
}

footer:before {
  top: 0;
}

footer:after {
  bottom: 0;
}

.videoContainer {
  position: relative;
}

section {
  position: relative;
}

.border-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px; /* Adjust the width as needed */
  background-repeat: repeat-y;
}

.left {
  left: 0;
  background-image: url('/images/sideLayer.svg');
}

.right {
  right: 0;
  background-image: url('/images/sideLayer.svg');
}
/* .videoBackdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(20px); 
} */

/* .video {
  filter: blur(20px); 
  transition: filter 2s ease; 
}

.video:hover {
  filter: blur(0); 
} */

.videoContainer:hover .video {
  filter: blur(0);
}

.videoContainer .video {
  filter: blur(20px);
  transition: filter 2s ease;
}

.videoContainer .video.unblur {
  filter: blur(0);
}

