@import url("https://fonts.cdnfonts.com/css/vcr-osd-mono");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));

  font-family: "VCR OSD Mono", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Footer.css */

footer {
  position: relative;
}

footer:before,
footer:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 10px; 
  background: url('/images/footerLayer.svg') repeat-x;
}

footer:before {
  top: 0;
}

footer:after {
  bottom: 0;
}

.blur {
  -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
      -ms-filter: blur(5px);
       -o-filter: blur(5px);
          filter: blur(5px);

  -webkit-transition: all 1s linear;
     -moz-transition: all 1s linear;
      -ms-transition: all 1s linear;
       -o-transition: all 1s linear;
          transition: all 1s linear;

  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}
.delay {
  -webkit-animation-delay: 2s;
     -moz-animation-delay: 2s;
          animation-delay: 2s;
}